@import "variables";

.profile {
  place-self: center;
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

  .image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    position: relative;
    text-align: center;
    &:after {
      content: '';
      height: inherit;
      max-height: 500px;
      min-height: 300px;
      max-width: 500px;
      min-width: 300px;
      width: 75%;
      background-color: lighten($primary-color, 10%);
      position: absolute;
      z-index: -1;
      left: 0%;
      top: 0%;
      animation: color-1 5s ease-in-out,
                 color-2 5s ease-in-out,
                 color-3 5s ease-in-out,
                 color-4 5s ease-in-out,
                 color-5 5s ease-in-out,
                 color-6 5s ease-in-out,
                 color-7 5s ease-in-out,
                 color-8 5s ease-in-out,
                 color-9 5s ease-in-out,
                 color-10 5s ease-in-out,
                 color-11 5s ease-in-out,
                 color-12 5s ease-in-out;
      animation-iteration-count: infinite;
    }
    img {
      width: 75%;
      border-radius: 56% 100% 45% 80%;
    }
  }
}

@mixin colorshift ($color: null, $radius: 0, $spin: 0deg) {
  background-color: lighten($color, 10%);
  border-radius: $radius;
  transform: rotate($spin);
}

@keyframes color-1 {
  0%, 100% { @include colorshift($primary-color, 0, 0deg)}
  50% { @include colorshift(lighten($primary-color, 10%), 100%, 30deg)}
}

@keyframes color-2 {
  0%, 100% { @include colorshift($primary-color, 100%, 30deg)}
  50% { @include colorshift(lighten($primary-color, 10%), 0, 60deg)}
}

@keyframes color-3 {
  0%, 100% { @include colorshift($primary-color, 0, 60deg)}
  50% { @include colorshift(lighten($primary-color, 10%), 100%, 90deg)}
}

@keyframes color-4 {
  0%, 100% { @include colorshift($primary-color, 100%, 90deg)}
  50% { @include colorshift(lighten($primary-color, 10%), 0, 120deg)}
}

@keyframes color-5 {
  0%, 100% { @include colorshift($primary-color, 0, 120deg)}
  50% { @include colorshift(lighten($primary-color, 10%), 100%, 150deg)}
}

@keyframes color-6 {
  0%, 100% { @include colorshift($primary-color, 100%, 150deg)}
  50% { @include colorshift(lighten($primary-color, 10%), 0, 180deg)}
}

@keyframes color-7 {
  0%, 100% { @include colorshift($primary-color, 0, 180deg)}
  50% { @include colorshift(lighten($primary-color, 10%), 100%, 210deg)}
}

@keyframes color-8 {
  0%, 100% { @include colorshift($primary-color, 100%, 210deg)}
  50% { @include colorshift(lighten($primary-color, 10%), 0, 240deg)}
}

@keyframes color-9 {
  0%, 100% { @include colorshift($primary-color, 0, 240deg)}
  50% { @include colorshift(lighten($primary-color, 10%), 100%, 270deg)}
}

@keyframes color-10 {
  0%, 100% { @include colorshift($primary-color, 100%, 270deg)}
  50% { @include colorshift(lighten($primary-color, 10%), 0, 300deg)}
}

@keyframes color-11 {
  0%, 100% { @include colorshift($primary-color, 0, 300deg)}
  50% { @include colorshift(lighten($primary-color, 10%), 100%, 330deg)}
}

@keyframes color-12 {
  0%, 100% { @include colorshift($primary-color, 100%, 330deg)}
  50% { @include colorshift(lighten($primary-color, 10%), 0, 360deg)}
}

.about {
  place-self: center;
  grid-column: 2;
  grid-row: 2;
}

.highlight {
  position: relative;
  &:after {
    @include text-highlight($complement-color);
  }
}

.download-button {
  @include heading-3;
  background-color: transparent;
  border: none;
  position: relative;
  @include margin($top: $spacing-3x);
  &:after {
    @include text-highlight($complement-color);
  }
  &:hover {
    cursor: pointer;
    &:after {
      @include text-highlight($primary-color);
    }
  }
}

@media (max-width: 700px) {

  .profile {
    grid-row: 1;
  }

  .about {
    grid-row: 2;
  }

  .profile,
  .about {
    grid-column: 1 / span 2;
  }

}
