@import "variables";

// hero

.hero {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 8.33%);
  grid-template-rows: 80px auto 80px;
  align-items: center;

  .heading-1.index {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 2;

    &:after {
      content: "using research to drive product and team strategy";
      color: $complement-color;
      animation: rotate-text 10s infinite;
    }
  }
}

// hero animation

@keyframes rotate-text {
  8.33% {
    opacity: 1;
    content: "using research to drive product and team strategy";
  }
  16.67% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  33.33% {
    content: "passionate about solving complex problems collaboratively";
    opacity: 1;
  }
  41.67% {
    opacity: 1;
    content: "passionate about solving complex problems collaboratively";
  }
  50% {
    opacity: 0;
  }
  58.33% {
    opacity: 0;
  }
  66.67% {
    content: "enthusiastically uniting design and development";
    opacity: 1;
  }
  75% {
    opacity: 1;
    content: "enthusiastically uniting design and development";
  }
  83.33% {
    opacity: 0;
  }
  91.67% {
    opacity: 0;
  }
  100% {
    content: "using research to drive product and team strategy";
    opacity: 1;
  }
}
