@import "variables";

.title {
  width: 80%;
  margin:0 auto;
  display: grid;
  justify-items: center;
  grid-template-rows: 48px auto 48px;

  .heading-2 {
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

// samples

.samples {
  width: 80%;
  margin:0 auto;
  display: grid;
  grid-gap: 2em;

  .sample-thumbnail {
    background: white;
    display: grid;
    align-items: center;
    height: auto;

    .heading-3-light {
      a {
        @include heading-3-light;
        color: $link-text-color;
      }
    }
  }
}

.content-page {
  .footer-content {
    grid-template-rows: 48px 24px 16px 16px 16px 24px;
  }
}


@supports (display: grid) {
  .module {
    margin: 0;
  }
}

