@import url('https://fonts.googleapis.com/css?family=Lora:400,500,800');

// colors
$primary-color: #FFD262;
$secondary-color-1: #9C67EA;
$secondary-color-2: #61B3E8;
$complement-color: #6C80EB;
$primary-text-color: #121212;
$secondary-text-color: #595959;
$link-text-color: #2129D3;

// fonts
$base-font-size: 16px;
$base-font-family: 'Lora', sans-serif;
$base-line-height: 1.7em;

$h1-font-family: 'Lora', sans-serif;
$h1-font-size: 2.837em;
$h1-font-color: $primary-text-color;

$h2-font-family: 'Lora', sans-serif;
$h2-light-font-family: 'Lora', sans-serif;
$h2-font-size: 1.999em;
$h2-font-color: $primary-text-color;

$h3-font-family: 'Lora', sans-serif;
$h3-font-size: 1.414em;
$h3-font-color: $primary-text-color;

$body-font-family: $base-font-family;
$body-font-size: $base-font-size;
$body-font-color: $primary-text-color;

$link-font-family: $base-font-family;
$link-font-size: $base-font-size;
$link-font-color: $link-text-color;

$strong-font-family: 'Lora', sans-serif;
$strong-font-size: $base-font-size;
$strong-font-color: $primary-text-color;

$subtle-font-family: $base-font-family;
$subtle-font-size: .707em;
$subtle-font-color: $secondary-text-color;

// spacing
$spacing-1x: $base-font-size;
$spacing-2x: 2 * $spacing-1x;
$spacing-3x: 3 * $spacing-1x;
$spacing-4x: 4 * $spacing-1x;

$spacing-05x: $spacing-1x / 2;


// text mixins
@mixin text-highlight($highlight-color: lighten($primary-color, 20%)) {
  content: "";
  position: absolute;
  width: 100%;
  background: lighten($highlight-color, 20%);
  left: 0;
  bottom: 0;
  height: .6em;
  z-index: -1;
}

@mixin heading-1 {
  font-family: $h1-font-family;
  font-size: $h1-font-size;
  color: $h1-font-color;
  margin: 0;
}

@mixin heading-2 {
  font-family: $h2-font-family;
  font-size: $h2-font-size;
  color: $h2-font-color;
  margin: 0;
}

@mixin heading-2-light {
  font-family: $h2-light-font-family;
  font-size: $h2-font-size;
  color: $h2-font-color;
  margin: 0;
}

@mixin heading-3 {
  font-family: $h3-font-family;
  font-size: $h3-font-size;
  color: $h3-font-color;
  margin: 0;
}

@mixin body-copy {
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $primary-text-color;
  line-height: $base-line-height
}

@mixin body-copy-bold {
  font-size: $strong-font-size;
  font-family: $strong-font-family;
  color: $primary-text-color;
}

@mixin body-copy-link {
  font-size: $link-font-size;
  font-family: $link-font-family;
  color: $primary-text-color;
  text-decoration: none;
  position: relative;
  &:after {
    @include text-highlight($primary-color);
  }
  &:hover {
    &:after {
      @include text-highlight($secondary-color-1);
    }
  }
}

@mixin body-copy-subtle {
  font-size: $subtle-font-size;
  font-family: $subtle-font-family;
  color: $secondary-text-color;
}

// spacing mixins
@mixin padding($all: null, $top: null, $right: null, $bottom: null, $left: null) {
  padding: $all;
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin margin($all: null, $top: null, $right: null, $bottom: null, $left: null) {
  margin: $all;
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

// base page layout mixins
@mixin title {
  width: 80%;
  margin:0 auto;
  display: grid;
  justify-items: center;
  grid-template-rows: 48px auto 48px;

  .heading-2 {
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

@mixin footer-layout {
  .footer-content {
    grid-template-rows: 48px 24px 16px 16px 16px 24px;
  }
}


// other mixins



// base classes

html {
  height: 100%;
}

body {
  @include body-copy;
  @include padding($left: 100px, $right: 100px);
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10% auto 10%;
  grid-gap: 1em;
}

a {
  @include body-copy-link;
}

p {
  @include body-copy;
  @include margin($top: $spacing-1x, $bottom: $spacing-1x);
}

button {
  @include body-copy;
}

.heading-1 {
  @include heading-1;
}

.heading-2 {
  @include heading-2;
}

.heading-2-light {
  @include heading-2-light;
}

.heading-3 {
  @include heading-3;
}

.subtle {
  @include body-copy-subtle;
}

strong, .strong {
  @include body-copy-bold;
}


// base page layout

.content-page {
  @include footer-layout;
}

@supports (display: grid) {
  .module {
    margin: 0;
  }
}

@media (max-width: 700px) {

  body {
    @include padding($left: 20px, $right: 20px, $bottom: 20px);
    grid-template-rows: auto;
  }

}